.idea

# TypeScript (front)
node_modules
*/build
*.map


# C# (back)
.vs
app/back/*/bin
app/*/obj

# Production configuration
deploy/prod/.env
deploy/prod/config/front/conf.js
deploy/prod/config/back/appsettings.json
